body {
  height: 3317px;
  background-image: url(../images/bg/donuts-mob.png), url(../images/bg/bg1-mob.png),
    url(../images/bg/bg2-mob.png);
  background-repeat: no-repeat;
  background-size: 117px 113px, 100% 416px, 100% 1214px;
  background-position: left top, left top, center bottom 216px;
  background-color: #fffff9;
}
#bottom {
  margin-top: 800px;
}
