.header {
  padding-top: 7px;
  padding-bottom: 33px;
}

.header__list {
  @media screen and (max-width: 767px) {
    display: none;
  }
}

.header__container {
  margin-right: auto;
  margin-left: auto;
  display: flex;
  position: relative;
}

.header__logo {
  width: 30px;
  height: 16px;
}

.logo-icon {
  width: 96px;
  height: 43px;
}

.header__nav {
  margin-right: auto;
  margin-left: auto;
}

.header__burger {
  position: absolute;
  top: 15px;
  right: 15px;
  border: none;
  background-color: rgba(171, 129, 108, 0);
}

.hero__container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
  text-align: center;
  margin: 0;
}

.hero__title {
  max-width: 224px;
  font-family: $font-sec;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 38px;
  margin-right: auto;
  margin-left: auto;
}

.logo-icon .fill {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.logo-icon:hover .fill {
  fill: #aa6543;
  stroke: #aa6543;
  stroke-width: 0.5;
}
