.mobile-menu {
  position: absolute;
  display: none;
}

.mobile-menu.is-open {
  position: absolute;
  display: block;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background: rgba(254, 243, 228, 0.9);
}

.header__close {
  position: absolute;
  z-index: 2;
  top: 20px;
  right: 20px;
}

.header__burger.is-open {
  position: absolute;
  z-index: 2;
}

.header__burger.is-open .header__logo .menu {
  display: none;
}

.close {
  display: none;
}

.header__burger.is-open .header__logo .close {
  display: block;
}

.mobile-menu__nav {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.mobile-menu__logo {
  margin-top: 25px;
  margin-bottom: 40px;
}

.mobile-menu__link {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: #2e2520;
}

.mobile-menu__list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-height: 261px;
  height: 100%;
}

.header__nav-wrap {
  height: 50vh;
}
